{% extends 'layout.html.twig' %}

{% block title %} <h1>Les évènements Afterwork</h1> {% endblock %}

{% block body %}
    <main>
        
        <section id="evenements">
       
            <div>             
                <a href="detailsEvenement.html">
                    <div class="rectanglePleinEvenement"></div>
                    <img src="img/evenements/bieres.jpg" alt ="afterwork">
                    <div class="bordureRectangleEvenement">
                        <p>Afterwork</p>
                        <p>12/04/2022</p>
                    </div>
                </a>
                    
                <a href="detailsEvenement.html">
                    <div class="rectanglePleinEvenement"></div>
                    <img src="img/evenements/soiree.jpg" alt ="soiree">
                    <div class="bordureRectangleEvenement">
                        <p>Soirée</p>
                        <p>8/05/2022</p>
                    </div>
                </a>

                <a href="detailsEvenement.html">
                    <div class="rectanglePleinEvenement"></div>
                    <img src="img/evenements/basket.jpg" alt ="basket">
                    <div class="bordureRectangleEvenement">
                        <p>Basket</p>
                        <p>22/05/2022</p>
                    </div>
                </a>
         
                <a href="detailsEvenement.html">
                    <div class="rectanglePleinEvenement"></div>
                    <img src="img/evenements/course_a_pied.jpg" alt ="course a pied">
                    <div class="bordureRectangleEvenement">
                        <p>Course à pied</p>
                        <p>3/07/2022</p>
                    </div>
                </a>
               
                <a href="detailsEvenement.html">
                    <div class="rectanglePleinEvenement"></div>
                    <img src="img/evenements/concert.jpg" alt ="concert">
                    <div class="bordureRectangleEvenement">
                        <p>Concert</p>
                        <p>5/07/2022</p>
                    </div>
                </a>
   
                <a href="detailsEvenement.html">
                    <div class="rectanglePleinEvenement"></div>
                    <img src="img/evenements/festival.jpg" alt ="festival">
                    <div class="bordureRectangleEvenement">
                        <p>Festival</p>
                        <p>5/08/2022</p>
                    </div>
                </a>
      
                <a href="detailsEvenement.html">
                    <div class="rectanglePleinEvenement"></div>
                    <img src="img/evenements/restaurant.jpg" alt ="afterwork">
                    <div class="bordureRectangleEvenement">
                        <p>Afterwork</p>
                        <p>1/09/2022</p>
                    </div>
                </a>
              
                <a href="detailsEvenement.html">
                    <div class="rectanglePleinEvenement"></div>
                    <img src="img/evenements/yoga.jpg" alt ="yoga">
                    <div class="bordureRectangleEvenement">
                        <p>Yoga</p>
                        <p>15/09/2022</p>
                    </div>
                </a>
             
                <a href="detailsEvenement.html">
                    <div class="rectanglePleinEvenement"></div>
                    <img src="img/evenements/afterwork.jpg" alt ="afterwork">
                    <div class="bordureRectangleEvenement">
                        <p>Afterwork</p>
                        <p>26/09/2022</p>
                    </div>
                </a>
         
            </div>

            <p>
                <a href="#evenements" id="numPageEvenement">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
            </p>

        </section> 
    </main>
{% endblock %}