{% extends 'layout.html.twig' %}

{% block pagetitle %} <h1>Les évènements {{ category.name|lower }}</h1> {% endblock %}

{% block body %}
    <main>

        <section id="evenements">

            <div>
                {% if events %}
                    {% for event in events %}
                        {% include 'partials/event-card.html.twig' with {event} %}
                    {% endfor %}
                {% else %}
                    <h2>Oh non! Pas d'évènements pour la catégorie {{ category.name|lower }}</h2>
                {% endif %}
            </div>

        </section>
    </main>
{% endblock %}