{% extends 'layout.html.twig' %}

{% block header %}
    <div>
        <h1>Administration</h1>
        <span class="iconify" data-icon="bytesize:settings"></span>
        <ul id="menu-admin">
            <li><a href="{{ route('event.add') }}" class="menuSelectionne">Ajouter un évènement</a></li>
            <li><a href="modifierEvenement.html">Modifier un évènement</a></li>
            <li><a href="supprimerEvenement.html">Supprimer un évènement</a></li>
            <li><a href="ajouterCategorie.html">Ajouter une catégorie</a></li>
            <li><a href="ajouterUtilisateur.html">Ajouter un utilisateur</a></li>
        </ul>
    </div>
{% endblock %}