 <!DOCTYPE html>
<html>
    <head>
 {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}BDE Platform{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="/img/logos/favicon.ico">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Neucha&family=Open+Sans&display=swap" rel="stylesheet">
         
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/all.css">
        <link rel="stylesheet" href="/css/styleForm.css">
 {% endblock %}
 </head>

 {% block body %}  {% endblock %}
 </html>