{% extends 'layoutadmin.html.twig' %}

{% block title %} Ajouter un utilisateur{% endblock %}

  {% block body %}
      <main>
          <section id="formulaire">
              <div><h2>{{ action }} un utilisateur</h2></div>
              {% include 'partials/flash-messages.html.twig' with {messages} %}
              <form action="" method="post" enctype="multipart/form-data">
                  <ul>
                      <li>
                          <label for="first_name">Prénom</label> <br>
                          <input type="text" name="first_name" id="first_name">
                      </li>
                      <li>
                          <label for="last_name">Nom</label> <br>
                          <input type="text" name="last_name" id="last_name">
                      </li>
                      <li>
                          <label for="email">Courriel</label> <br>
                          <input type="email" name="email" id="email">
                      </li>
                      <li>
                          <label for="role">Rôle</label><br>
                          <select id="role" name="role">
                              <option value="etudiant">Etudiant</option>
                              <option value="membre">Membre</option>
                              <option value="administrateur">Administrateur</option>
                          </select>
                      </li>
                      <li>
                          <button type="submit">Ajouter <i class="fa-solid fa-plus"></i></button>
                      </li>
                  </ul>
              </form>
          </section>
      </main>
  {% endblock %}
  