{% extends 'layout.html.twig' %}

{% block title %} Supprimer un évènement {% endblock %}

{% block header %}
            <div> 
                 <h1>Administration</h1>   
                <span class="iconify" data-icon="bytesize:settings"></span>
                <ul id="menu-admin">
                    <li><a href="ajouterEvenement.html">Ajouter un évènement</a></li>
                    <li><a href="modifierEvenement.html">Modifier un évènement</a></li>
                    <li><a href="supprimerEvenement.html" class="menuSelectionne">Supprimer un évènement</a></li>
                    <li><a href="ajouterCategorie.html">Ajouter une catégorie</a></li>
                    <li><a href="ajouterUtilisateur.html">Ajouter un utilisateur</a></li>
                </ul>
            </div> 
  {% endblock %}
  {% block body %}   
    <main>
      <section id="formulaire">
          <div><h2>Supprimer un évènement</h2></div>
          <form action="" method="post" enctype="multipart/form-data">
              <ul>
                  <li>
                    <label for="event">Evènement</label><br>
                    <select id="event" name="event">
                      <option value="afterwork">Afterwork 12/04/2022</option>
                      <option value="soiree">Soirée 8/05/2022</option>
                      <option value="basket">Basket 22/05/2022</option>
                    </select>
                  </li>            
                  <li>
                    <button  type="submit">Supprimer <i class="fa-solid fa-xmark"></i></button>
                  </li>
              </ul>
        </form>
      </section>
       
    </main>  
{% endblock %}