{% extends 'layoutad.html.twig' %}
 
{% block title %} Je m'inscris{% endblock %} 
       

{% block body %}
<header>
        <a href="index.html">
            <img src="img/logos/logo_blanc.png" alt="logo">
            <h2>BDE Platform</h2>
        </a>
        <div>
            <h1>Je m'inscris</h1>
            <i class="fa-solid fa-pencil"></i>
        </div>
</header>
    <main>
        <section>
        <form action="" method="post">
            <ul>
                <li>
                    <label for="first_name">Prénom</label> <br> 
                    <input type="text" name="first_name" id="first_name">
                </li>
                <li>
                    <label for="last_name">Nom</label> <br> 
                    <input type="text" name="last_name" id="last_name">
                </li>
                <li>
                    <label for="email">Email</label> <br> 
                    <input type="email" name="email" id="email">
                </li>
                <li>
                    <label for="phone">Téléphone</label> <br> 
                    <input type="text"  name="phone" id="phone"/>
                </li>
                <li>
                    <label for="password">Mot de passe</label> <br> 
                    <input type="password" name="password" id="password">
                </li>
                <li>                   
                <button  type="submit" id="inscription"> Je m'inscris <i class="fa-solid fa-pencil"></i></button>
                </li>
            </ul>         
        </form>
        </section>
    </main>
{% endblock %} 